/* Hide main tabs toolbar */
#TabsToolbar {
	visibility: collapse;
}


/*
* Overwrite Container tab colors with pastel colors
*/
.identity-color-toolbar {
	--identity-tab-color: #808080 !important;
	--identity-icon-color: #808080 !important;
}


/*toolbarbutton#back-button, toolbarbutton#forward-button {
	display: none;
}*/


/* Hide sidebar header
 * https://medium.com/@Aenon/firefox-hide-native-tabs-and-titlebar-f0b00bdbb88b
 */
#sidebar-header {
  visibility: collapse !important;
}
