:root {
  --transition: 450ms;
  --sidebar-wide: 400px;
  --sidebar-small: 50px;
}

/*
* Overwrite Container tab colors with pastel colors
*/
.identity-color-toolbar {
	--identity-tab-color: #808080 !important;
	--identity-icon-color: #808080 !important;
}


/* Hide main tabs toolbar */
/*#TabsToolbar {
	visibility: collapse;
}
*/


/* Hide sidebar header
 * https://medium.com/@Aenon/firefox-hide-native-tabs-and-titlebar-f0b00bdbb88b
 */
/*
#sidebar-header {
  visibility: collapse !important;
}
*/


/* Basic Sidebar Auto Hiding, inspired by
 * https://github.com/Timvde/UserChrome-Tweaks/pull/101/files
 */
/*
#sidebar {
  max-width: none!important;
  min-width: 0!important;
}

#sidebar-box+#sidebar-splitter {
  display: none!important;
}

#sidebar-box {
  overflow: hidden!important;
  position: relative!important;
  transition: all var(--transition) !important;
  min-width: var(--sidebar-small) !important;
}

#sidebar-box #sidebar,#sidebar-box:hover {
  transition: all var(--transition) !important;
  min-width: var(--sidebar-wide) !important;
}

*/
