[user]
	name = Timm Heuss
	email = heussd@users.noreply.github.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[core]
	pager = delta
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.git-global-hooks

change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true


# Taken from https://yousseb.github.io/meld/
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	trustExitCode = true
	cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = meld
[mergetool]
	prompt = false
[mergetool "meld"]
	trustExitCode = true
	cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"


[alias]
	ac = !git add -u && git commit -m 
	cosh = !git commit && git push
	co = checkout
	s = status --ignored
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ref-ignore = !sh -c 'curl https://raw.githubusercontent.com/github/gitignore/master/'$1'.gitignore >> .gitignore'
	# https://thoughtbot.com/blog/powerful-git-macros-for-automating-everyday-workflows
    branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
	mru = for-each-ref --sort=-committerdate --count=10 refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    whatadded = log --diff-filter=A
	amend = commit --all --amend --no-edit

	# Override commit date, accepts various forms:
	# git commit-predate "2020-10-10"
	# git commit-predate "2020-10-10T10:10:10"
	commit-predate= "!f() { REFDATE=$1; shift; GIT_COMMITTER_DATE=\"$REFDATE\" git commit --date=\"$REFDATE\" $*; }; f"

	# State a reference file to take last-modified date from
	commit-refdate= "!f() { REFDATE=$(stat -f \"%Sm\" -t \"%Y-%m-%dT%H:%M:%S\" \"$1\"); shift; git commit-predate \"$REFDATE\" $*; }; f"


[include]
	path = ~/.git-over-ssh-enabled
[help]
	autocorrect = 10
[pull]
	rebase = false

[delta]
    features = side-by-side line-numbers 
[commit]
	verbose = true
[init]
	defaultBranch = main
[branch]
	# https://stevenharman.net/git-pull-with-automatic-rebase
	autosetuprebase = always
