[submodule "_externals/my-way-to-view-things"]
	path = .dotfiles-externals/my-way-to-view-things
	url = https://github.com/heussd/my-way-to-view-things.git
[submodule "_externals/674099"]
	path = .dotfiles-externals/674099
	url = https://gist.github.com/mathiasbynens/674099
[submodule ".hammerspoon/Spoons/global-mute-spoon"]
	path = .hammerspoon/Spoons/global-mute-spoon
	url = https://github.com/cmaahs/global-mute-spoon
[submodule ".dotfiles-externals/git-fuzzy"]
	path = .dotfiles-externals/git-fuzzy
	url = https://github.com/bigH/git-fuzzy
[submodule ".dotfiles-externals/keylayout-de_DE-no-deadkeys"]
	path = .dotfiles-externals/keylayout-de_DE-no-deadkeys
	url = https://github.com/oschrenk/keylayout-de_DE-no-deadkeys
