@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
	/* Font smoothing that looks awesome on Retina screens */
	-moz-osx-font-smoothing: grayscale;
}

tab{
   -moz-appearance: none !important;
}
tab[selected="true"] {
   background-color: #121417 !important;
}
tab:not([selected="true"]) {
   color: gray !important;
}

