packages: [
  "atom-beautify"
  "autocomplete-json"
  "busy-signal"
  "dockerletion"
  "git-blame"
  "git-time-machine"
  "highlight-selected"
  "file-icons"
  "intentions"
  "language-docker"
  "linter"
  "linter-docker"
  "linter-ui-default"
  "minimap"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "no-title-bar"
  "package-sync"
  "pretty-json"
  "sort-lines"
  "split-diff"
]
